/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-primary: rgba(180, 208, 231, 1);
    --dropbox-secondary: rgba(0, 97, 255, 1);
    --dropbox-dark: rgba(0, 0, 0, 1);
    --dropbox-light: rgba(245, 245, 245, 1);
    --dropbox-lighter: rgba(255, 255, 255, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
    --dropbox-primary: rgba(162, 211, 155, 1);
}

/* #endregion common */

/* #region color-palette */


/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1171px;
    top: -1268px;
    background-color: rgba(255, 28, 28, 1);
}

/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1003px;
    top: -1593px;
    background-color: rgba(97, 9, 46, 1);
}

/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1351px;
    top: -1268px;
    background-color: rgba(0, 147, 206, 1);
}

/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1351px;
    top: -1098px;
    background-color: rgba(13, 36, 129, 1);
}

/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1171px;
    top: -1095px;
    background-color: rgba(213, 0, 31, 1);
}

/* Rectangle */
.rectangle {
    position: absolute;
    width: 129px;
    height: 116px;
    left: -1004px;
    top: -1091px;
    background-color: rgba(255, 216, 48, 1);
}

/* #endregion color-palette */

/* #region debug */
body{
    background-color: aquamarine;
}
div.debug{
    border: dashed;
}
/* #endregion debug */

/* utilities */
.big_container{
    width: 70%;
    height: 100%;
    margin: auto;
}
.small_container{
    width: 60%;
    height: 100%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
/* #region header */
nav{
    background-color: beige;
    height: 50px;
}
.left-nav{
    background-color: aliceblue;
    width: 50%;
    height: 100%;
}
.right-nav{
    background-color: lightcoral;
    width: 50%;
    height: 100%;
}
/* #endregion header */

/* #region main */

/* #region jumbo */
.jumbo{
    background-color: beige;
}
/* #endregion jumbo */

/* #region sec_plans */

.plans{
    background-color: azure;
}
.plan-cards{
    /* gap: 1rem; */
    padding: 2rem 0;
}
.card{
    width: calc((100% / 12) * 4);
}
/* #endregion sec_plans */

/* #region sec_partner */
.partner{
    background-color: yellow;
}

/* #endregion sec_partner */

/* #region sec_designit */
.box_containers{
    background-color: blue;
    width: 100%;
    height: 421px;
}
.big_box1{
    background-color: aliceblue;
    flex-grow: 1;
    
}
.big_box2{
   background-color: aqua;
   flex-grow: 1;
}
.big_box3{
    background-color: beige;
    flex-grow: 1;
}
.small_box1{
    background-color: tomato;
    flex-basis: 50%;
}
.small_box2{
    background-color: violet;
    flex-basis: 50%;
}
.small_box3{
    background-color: teal;
    flex-basis: 50%;
}
.small_box4{
    background-color: lightcoral;
    flex-basis: 50%;
}
/* .small_box4{
    background-color: wheat;
    flex-grow: 1;
    flex-basis: 25%;
} */
/* #endregion sec_designit */

/* #region free_trial */
.free_trial{
    background-color: chartreuse;
    height: 200px;
}
/* #endregion free_trial */

/* #region faq */
.faq{
    background-color: bisque;
    height: 400px;
}
/* #endregion faq */

/* #endregion main */


