/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-primary: rgba(180, 208, 231, 1);
    --dropbox-secondary: rgba(0, 97, 255, 1);
    --dropbox-dark: rgba(0, 0, 0, 1);
    --dropbox-light: rgba(245, 245, 245, 1);
    --dropbox-lighter: rgba(255, 255, 255, 1);
    --dropbox-lightgreen: rgba(162, 211, 155, 1);
    --dropbox-lightred: rgba(255, 28, 28, 1);
    --dropbox-darkred: rgba(213, 0, 31, 1);
    --dropbox-purple: rgba(97, 9, 46, 1);
    --dropbox-yellow: rgba(255, 216, 48, 1);
    --dropbox-lightblue: rgba(0, 147, 206, 1);
    --dropbox-darkblue: rgba(13, 36, 129, 1);
}

/* #endregion common */

/* #endregion color-palette */

/* #region debug */
body{
    font-family: 'Open Sans', sans-serif;
}
div.debug{
    border: dashed;
}
/* #endregion debug */

/* utilities */
.big_container{
    width: 60%;
    height: 100%;
    margin: auto;
}
.small_container{
    width: 45%;
    height: 100%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
a.no_decoration{
    text-decoration: none;
    color: var(--dropbox-dark);
}
.blue_btn{
    background-color: var(--dropbox-secondary);
    color: var(--dropbox-lighter);
    text-decoration: none;
    padding: 0.75rem;
}
img.center_img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
hr{
    width: 50%;

}
/* #region header */
nav{
    background-color: beige;
    height: 50px;
}
.left-nav{
    background-color: var(--dropbox-lighter);
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
    font-size: smaller;
}
.right-nav{
    background-color: var(--dropbox-lighter);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    font-size: smaller;
}
.start{
    text-decoration: none;
    background-color: var(--dropbox-secondary);
    color: var(--dropbox-lighter);
    padding: 0.3rem 0.75rem 0.3rem 0.75rem;
}
/* #endregion header */

/* #region main */

/* #region jumbo */
.jumbo{
    background-color: var(--dropbox-primary);
}
h1{
    font-size: xxx-large;
    padding: 4rem 0 2rem;
}
.jumbo_text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.jumbo_img{
    width: 300%;
}
.fa-solid{
    font-size: xx-large;
    padding-bottom: 1rem;
}
/* #endregion jumbo */

/* #region sec_plans */

.plans{
    background-color: azure;
}
h3{
    font-size: x-large;
    padding: 4rem;
}
.plan-cards{
    /* gap: 1rem; */
    padding: 2rem 0;
}
.card{
    width: calc((100% / 12) * 4);
}
/* #endregion sec_plans */

/* #region sec_partner */
.partner{
    height: 400px;
}
.partner_img{
    width: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/partner.png);
}
.partner_text{
    width: 30%;
}

/* #endregion sec_partner */

/* #region sec_designit */
.box_containers{
    width: 100%;
    height: 421px;
}
.big_box1{
    flex-grow: 1;
}
.big_box2{
    background-color: var(--dropbox-light);
   flex-grow: 1;
   position: relative;
}
.position{
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.design_img{
    width: 50%;
    padding-bottom: 2rem;
}
.quote{
    padding: 2rem 0 ;
}
.big_box3{
    flex-grow: 1;
}
.small_box1l{
    position: relative;
    background-color: var(--dropbox-lightgreen);
    flex-basis: 50%;
}
.small_box2l{
    position: relative;
    background-color: var(--dropbox-purple);
    flex-basis: 50%;
}
.small_box3l{
    position: relative;
    background-color: var(--dropbox-lightblue);
    flex-basis: 50%;
}
.small_box4l{
    position: relative;
    background-color: var(--dropbox-lightred);
    flex-basis: 50%;
}
.small_box1r{
    position: relative;
    background-color: var(--dropbox-darkred);
    flex-basis: 50%;
}
.small_box2r{
    position: relative;
    background-color: var(--dropbox-primary);
    flex-basis: 50%;
}
.small_box3r{
    position: relative;
    background-color: var(--dropbox-darkblue);
    flex-basis: 50%;
}
.small_box4r{
    position: relative;
    background-color: var(--dropbox-yellow);
    flex-basis: 50%;
}
/* .small_box4{
    background-color: wheat;
    flex-grow: 1;
    flex-basis: 25%;
} */
/* #endregion sec_designit */

/* #region free_trial */
.free_trial{
    background-color: chartreuse;
    height: 200px;
}
/* #endregion free_trial */

/* #region faq */
.faq{
    background-color: bisque;
    height: 400px;
}
/* #endregion faq */

/* #endregion main */

/* #region footer */

#site_footer{
    background-color: brown;
    height: 300px;
}
.top_footer{
    background-color: chocolate;
    height: 250px;
}
.bottom_footer{
    background-color: azure;
    height: 50px;
}
/* #endregion footer */

